<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PetsApi</title>
    <link href="https://fonts.googleapis.com/css?family=Petrona" rel="stylesheet">
  </head>
  <body style="justify-content: center;align-items: center">
    <div style="display: flex;flex-direction: column;justify-content: center;align-items: center">
      <p style="font-size:46px;font-family:'Petrona',serif;text-align: center;">
      Em desenvolvimento!
      </p>
    </div>
  </body>
</html>
